$sayi: 20;

p{
    @if $sayi < 10{
        background-color: red;
    }
    @else if $sayi == 15{
        background-color: blue;
    }
    @else {
        background-color: yellow;
    }

    @if $sayi > 10{
        @if $sayi < 30 {
             color: teal;
        }
        @else{
            color: purple;
        }
    }
}

$count : 1;

@while $count < 5{
    .item-#{$count}{
        color: red;
        background-color: darken(yellow, 10*$count);
    }
    $count : $count + 1;
}
@for $i from 1 through 5{
    .list-#{$i}{
        width: 20px*$i;
    }
}
@each $a in (normal, bold, italic){
    .#{$a}{
        font-weight: $a;
    }
}