$bg-color: darken(#0ac, 10);
$accent-color: complement($bg-color);

@function ikiyeKatla($deger){
    @return $deger*2;
}

@function setColor($bg-color){
    @if(lightness($bg-color) > 50){
        @return #333;
    } 
    @else{
        @return white;
    }
}

.div{
    color: setColor($bg-color);
    height: 300px;
    width: ikiyeKatla(300px);
    background-color: $accent-color;
    font-size: ikiyeKatla(2rem);
}